body{
   background-image: url(../img/Flogin.jpg);
   background-repeat: no-repeat;
   background-position:contain;
   background-size: cover;
  
   width: 100%;

   

}
@media (min-width: 500px){
    body{

      
        background-image: linear-gradient(#E2F6E1,#E2F6E1);
        background-repeat: repeat;
        background-position:contain;
        background-size: cover;
       
        width: 100%;
       
    
      
    }
}